Package: io.sharklatan.adblocker
Name: Ad Blocker
Version: 9.0.1
Architecture: iphoneos-arm
Pre-Depends: dpkg (>= 1.13.25-5)
Conflicts: com.thireus.untrustedhostsblockerexperimental, com.thireus.untrustedhostsblockerlight, com.thireus.untrustedhostsblocker, com.myrepospace.reddestdream.minimal, com.myrepospace.basic.basic
Description: Ad Blocker! ^_^
Depiction: http://sharklatan.github.io/cydia/depic/block.html
Maintainer: SharkLatan <sharklatan@gmail.com>
Author: ReddestDream <reddestdream@gmail.com>
Section: JonaiPhone
